.cover__link {
    margin: 0;
    padding: 0;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.cover__link:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #2a2c2f;
    opacity: 0.3;
    z-index: 5;
    transition: opacity 0.8s ease;
}

.cover__link:hover:before {
    opacity: 0.8;
}