.photo-grid{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px;
    padding: 0;
    margin: 92px 48px 0;
    max-height: 671px;
    max-width: 92.5%;
}
@media all and (max-width: 1024px){
    .photo-grid{
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(3, 1fr);
        max-height: 942px;
    }
}

@media all and (max-width: 768px){
    .photo-grid{
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(2, 1fr);
        max-height: 1664px;
    }
}

@media all and (max-width: 695px){
    .photo-grid{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(12, 1fr);
        max-height: 2724px;
        max-width: 288px;
    }
}