.footer__link {
    color: #FFFFFF;
    text-decoration: none;
    margin: 0 18px 0 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.12;
    font-style: normal;
    transition: opacity 0.3s ease;
}

.footer__link a{
    margin: 0;
}

.footer__link:hover {
    opacity: 0.8;
}

@media all and (max-width: 695px) {
    .footer__link{
        font-size: 24px;
        line-height: 1;
        margin: 32px 0 0;
    }
}