.cover {
    max-width: 1184px;
    height: calc(min(1184px, 100vw) * 0.625);
    margin: 92px auto 0;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    background-image: url(../../images/cover-trains.jpg);
    background-size: cover;
    background-position: center;
}
