.cover {
    max-width: 1184px;
    height: calc(min(1184px, 100vw) * 0.625);
    margin: 92px auto 0;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    background-image: url(../../../images/cover-trains.jpg);
    object-fit: cover;
    background-position: center;
}

.cover:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #2a2c2f;
    opacity: 0.3;
    z-index: 5;
    transition: opacity 0.8s ease;
}

.cover:hover:before {
    opacity: 0.8;
}
