.cover__title {
    z-index: 100;
    max-width: 560px;
    margin: 0;
    padding: 0;
    justify-self: center;
    align-self: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 1.06;
    text-align: center;
    color: white;
}

.cover__title:hover .cover__overlay {
    opacity: 0.8;
}

@media all and (max-width: 695px) {
    .cover__title {
        font-size: 32px;
        line-height: 1.09;
    }
}
